html, body {
    padding: 0;
    margin: 0;
    background: #000000;
    touch-action: none;
}

.start-screen, .death-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(210, 125, 44, 1);
    font-size: 2.5rem;
    font-family: serif;
}
.start-screen .inner {
    width: 40%;
}

.start-screen .title, .death-screen .title {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-variant: small-caps;
    color: rgba(68, 36, 52, 1);
    text-shadow:
        -1px -1px 1px rgba(210, 125, 44, 1),
        1px -1px 1px rgba(210, 125, 44, 1),
        -1px 1px 1px rgba(210, 125, 44, 1),
        1px 1px 1px rgba(210, 125, 44, 1)
        ;
}

.death-screen.hide {
    display:none;
}

.stats {
    border-spacing: 0;
    margin: 1rem auto 0 auto;
    color: #854c30;
    font-size: 2rem;
    text-align: left;
}
